{% extends 'base.html' %}
{% block titulo %}Blog{% endblock %}

{% block contenido %}

<div class="container">
	
	
<!--Section: Blog v.1-->
<section class="section extra-margins">

    <!--Section heading-->
    <h1 class="section-heading">Section title</h1>
    <!--Section sescription-->
    <p class="section-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <!--First row-->
    <div class="row">

        <!--First column-->
        <div class="col-md-5 m-b-r">
            <!--Featured image-->
            <div class="view overlay hm-white-slight">
                <img src="http://mdbootstrap.com/images/regular/people/img%20(80).jpg">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-7 m-b-r">
            <!--Excerpt-->
            <a href="" class="amber-text"><h5><i class="fa fa-diamond"></i>Fashion</h5></a>
            <h4>Classic outfit - white off-shoulder top and denim.</h4>
            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis aut rerum.</p>
            <p>by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>
            <a class="btn btn-cyan">Read more</a>
        </div>
        <!--/Second column-->

    </div>
    <!--/First row-->

    <hr>

    <!--Second row-->
    <div class="row">

        <!--First column-->
        <div class="col-md-7 m-b-r">
            <!--Excerpt-->
            <a href="" class="indigo-text"><h5><i class="fa fa-coffee"></i>Lifestyle</h5></a>
            <h4>Berlin at the weekend - the best donuts in the city.</h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident et dolorum fuga.</p>
            <p>by <a><strong>Carine Fox</strong></a>, 14/08/2016</p>
            <a class="btn btn-cyan">Read more</a>
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-5 m-b-r">
            <!--Featured image-->
            <div class="view overlay hm-white-slight">
                <img src="http://mdbootstrap.com/images/regular/people/img%20(86).jpg">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
        </div>
        <!--/Second column-->

    </div>
    <!--/Second row-->

    <hr>

    <!--Third row-->
    <div class="row">

        <!--First column-->
        <div class="col-md-5 m-b-r">
            <!--Featured image-->
            <div class="view overlay hm-white-slight">
                <img src="http://mdbootstrap.com/images/regular/city/img%20(32).jpg">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-7 m-b-r">
            <!--Excerpt-->
            <a href="" class="pink-text"><h5><i class="fa fa-suitcase"></i>Travels</h5></a>
            <h4>Guide to the beautiful Cinque Terre.</h4>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro qui dolorem ipsum quia sit amet, consectetur.</p>
            <p>by <a><strong>Carine Fox</strong></a>, 11/08/2016</p>
            <a class="btn btn-cyan">Read more</a>
        </div>
        <!--/Second column-->

    </div>
    <!--/Third row-->

</section>
<!--/Section: Blog v.1-->


</div>

{% endblock %}